language: node_js

node_js:
  - "6.10.3"

install:
  - npm install
  - cd core && npm link
  - cd ../aws && npm link hyperdoc-core
  - cd ..

script:
  - ./node_modules/.bin/gulp test
  - ./node_modules/.bin/codecov

notifications:
  webhooks:
    urls:
      - https://webhooks.gitter.im/e/205e0acdd81ebb8999f7
    on_success: change  # options: [always|never|change] default: always
    on_failure: always  # options: [always|never|change] default: always
    on_start: never     # options: [always|never|change] default: always